body {
    
    background-color: lightgray;
    color: white;
    
}
knds ksvk

p {
    font-size: 16px;
    line-height: 1.6;
    font-weight: lighter;
    font-family: Big Shoulders, sans-serif;
}

.outercard{
    background-color:  lightgray;
    width: 500px;
    height: 1300px;
    margin: 0 auto;
}


.container {
width: 300px;
height: 1000px;
background-color:white;
margin: 50px auto;
border-radius: 15px;
display: flex;
flex-direction: column;

}

.card-1 {
background-color:hsl(31, 77%, 52%);
padding: 50px;
height: 100%;
border-top-left-radius: 15px;
border-top-right-radius: 15px;
}

.card-2 {
    background-color: hsl(184, 100%, 22%);
    padding:50px;
    height: 100%;
}

.card-3{
    background-color:  hsl(179, 100%, 13%);
    padding: 50px;
    height: 100%;
    
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.icon {
    margin-bottom: 10px;
}

.LearnM {
    margin-top: 10px;
    padding: 10px;
    width: 150px;
    border-radius: 20px;
    border:solid white;

}

.M1 {
    color: hsl(31, 77%, 52%);
}

.M2 {
    color: hsl(184, 100%, 22%);
}

.M3{
    color: hsl(179, 100%, 13%);
}

/* On screens that are 992px wide or less, go from four columns to two columns */
@media screen and (min-width: 900px) {

    p {
        margin-top: 40px;
        font-size: 16px;
        line-height: 1.6;
        font-weight: lighter;
        font-family: Big Shoulders, sans-serif;

    }

h1 {
    margin-top: 30px;
}

    .outercard{
        background-color:  lightgray;
        width: 1250px;
        height: 700px;
        margin: 0 auto;
    } 


    .container {
        width: 1000px;
        height: 450px;
        background-color:white;
        margin: 50px auto;
        border-radius: 15px;
       display: flex;
       flex-direction: row;
        }

        .card-1 {
            background-color:hsl(31, 77%, 52%);
            height: 100%;
            border-top-left-radius: 15px;
            border-bottom-left-radius: 15px;
            border-top-right-radius: 0;
  }

  
.card-3{
    background-color:  hsl(179, 100%, 13%);
    padding: 50px;
    height: 100%;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
}

.LearnM {
    margin-top: 70px;
    padding: 10px;
    width: 150px;
    border-radius: 20px;
    border:solid white;

}
}